body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M857.77 309.99 a5.81 5.81 0 1 0 11.62 0 a5.81 5.81 0 1 0 -11.62 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M180.83 62.55a15.73 15.73 0 1 0 31.44 0.88z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M664.6 46.9 a43.48 43.48 0 1 0 86.96 0 a43.48 43.48 0 1 0 -86.96 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M798.81 405.06 a29.6 29.6 0 1 0 59.2 0 a29.6 29.6 0 1 0 -59.2 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M239.88 532.21 a4.59 4.59 0 1 0 9.18 0 a4.59 4.59 0 1 0 -9.18 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1207 517.21L1233.76 517.21L1233.76 550.12L1207 550.12z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M642.62 139.63 a53.51 53.51 0 1 0 107.02 0 a53.51 53.51 0 1 0 -107.02 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M665.36 312.63a10.31 10.31 0 1 0-14.2 14.95z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M194.24 160.76L233.77 160.76L233.77 200.29L194.24 200.29z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M605.21 27.11L645.48 27.11L645.48 45.73L605.21 45.73z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M234.19 13.81L260.17 13.81L260.17 39.79L234.19 39.79z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1046.95 320.5L1073.99 320.5L1073.99 338.39L1046.95 338.39z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1394.21 551.58 a13.75 13.75 0 1 0 27.5 0 a13.75 13.75 0 1 0 -27.5 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M374.1 116.94L393.65 116.94L393.65 136.49L374.1 136.49z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M779.82 133.65a0.91 0.91 0 1 0 1.78-0.41z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M907.7 503.39L930.28 503.39L930.28 524.08L907.7 524.08z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M75.88 118.51 a34.8 34.8 0 1 0 69.6 0 a34.8 34.8 0 1 0 -69.6 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1336.51 449.06a12.49 12.49 0 1 0-11.48-22.18z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M336.22 11.31L377.5 11.31L377.5 13.89L336.22 13.89z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M848.82 316.85L903.16 316.85L903.16 371.19L848.82 371.19z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M437.55 262.74 a23.53 23.53 0 1 0 47.06 0 a23.53 23.53 0 1 0 -47.06 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M848.85 435.07L851.19 435.07L851.19 437.41L848.85 437.41z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M924.62 359.48L957.77 359.48L957.77 407.25L924.62 407.25z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M860.83 345.81L884.12 345.81L884.12 380.18L860.83 380.18z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M904.28 102.38L925.38 102.38L925.38 123.48L904.28 123.48z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M385.42 559.63L420.77 559.63L420.77 570.04L385.42 570.04z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M905.27 130.92 a6.48 6.48 0 1 0 12.96 0 a6.48 6.48 0 1 0 -12.96 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1048.89 177.88L1097.18 177.88L1097.18 226.17L1048.89 226.17z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1205.65 308.27a7.1 7.1 0 1 0-13.43-4.63z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M857.68 509.19L877.34 509.19L877.34 528.85L857.68 528.85z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M789.75 155.32a28.4 28.4 0 1 0 8.14 56.22z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M596 518.48 a41.05 41.05 0 1 0 82.1 0 a41.05 41.05 0 1 0 -82.1 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M414.91 483.49L461.4 483.49L461.4 529.98L414.91 529.98z' stroke='%23e73635'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    background-position: center;
}
h1{
    text-align: center;
    margin-top: 320px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(167, 56, 15);
    font-size: 40px;
    font-weight: bold;
}
.line{
   width: 150px;
   height: 4px;
   background: rgb(167, 56, 15);
   margin: 10px auto;
   border-radius: 5px;
}
.timer {
    font-size: 80px;
    text-align: center;
    background-color: rgba(74, 61, 102, 0.1);
    color: rgb(185, 179, 167);
    font-family: sans-serif;
}
.buttons{
    text-align: center;
    color: black;
}

button {
    width: 90px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(189, 173, 173);
    font-family: sans-serif;
    color: black;
}
button:hover{
    background-color: #3d4b58;
}
button:active{
    background-color: #004080;
}
@media screen and (max-width: 650px) {
    .timer {
        font-size: 30px;
    }
    button {
        font-size: 50px;
        padding: 8px 16px;
        color: black;
    }
    h1 {
        font-size: 50px;
        font-weight: bold;
        margin-top: auto;
        margin-bottom: auto;
    }
}